/* The gold-standard layout reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Make the app fill the viewport */
html,
body,
#root {
  width: 100%;
  height: 100%;
}
